In [1]:
import pandas as pd
import numpy as np

In [2]:
#exerciciios pandas e numpy
#1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

#a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
result = pd.read_csv(url)
result

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
#b. Sabendo que as cinco colunas correspondem, nessa ordem, a:

#sepal length (cm)
#sepal width (cm)
#petal length (cm)
#petal width (cm)
#class:
#Iris Setosa
#Iris Versicolor
#Iris Virginica

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
colunas = [ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
result = pd.read_csv(url, names=colunas)
result

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#c. Crie uma coluna para o volume sabendo que ele é calculado por (pi x petallength x sepal_length^2)/3
result['volume'] = ( np.pi * result['petal_length'] * result['sepal_length']**2 ) / 3
result.head()

,sepal_length,sepal_width,petal_length,petal_width,class,volume
0,5.1,3.5,1.4,0.2,Iris-setosa,38.132652
1,4.9,3.0,1.4,0.2,Iris-setosa,35.200498
2,4.7,3.2,1.3,0.2,Iris-setosa,30.072372
3,4.6,3.1,1.5,0.2,Iris-setosa,33.238050
4,5.0,3.6,1.4,0.2,Iris-setosa,36.651914

In [6]:
#c. Calcule a média de cada atributo das flores.
atributos = ['sepal_length', 'sepal_width',	'petal_length', 'petal_width']
result[atributos].mean(axis=0)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [7]:
#d. Novamente, calcule a média de cada atributo das flores só que agora faça-o separadamente para cada um dos tipos de íris indicados na coluna "class". Utilize o loop for para reduzir quantidade de linhas.
#Existe diferença entre as médias de cada um dos atributos das flores?
result.pivot_table(values = atributos, index = 'class', aggfunc = 'mean')

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa             1.464        0.244         5.006        3.418
Iris-versicolor         4.260        1.326         5.936        2.770
Iris-virginica          5.552        2.026         6.588        2.974

In [10]:
#e. Adicione uma nova coluna com o valor da média de 'sepal length' apenas para a íris da classe Iris-setosa.
media_sepal = result[ result['class']=='Iris-setosa']['sepal_length'].mean()

result['media_setosa'] = np.where( result['class'] == 'Iris-setosa', media_sepal, 0)
result

,sepal_length,sepal_width,petal_length,petal_width,class,volume,media_setosa
0,5.1,3.5,1.4,0.2,Iris-setosa,38.132652,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,35.200498,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,30.072372,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,33.238050,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,36.651914,5.006
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,244.445230,0.000
146,6.3,2.5,5.0,1.9,Iris-virginica,207.816354,0.000
147,6.5,3.0,5.2,2.0,Iris-virginica,230.069302,0.000
148,6.2,3.4,5.4,2.3,Iris-virginica,217.373079,0.000
149,5.9,3.0,5.1,1.8,Iris-virginica,185.910028,0.000

In [ ]:
#f. Adicione uma coluna com a média de 'sepal length' de tal forma que cada tipo de íris tenha seu respectivo valor de média. Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.